
/*通用右键菜单*/
.zContextMenu{
    min-width: 130px;
    /*height: 200px;*/
    position: fixed;
    background-color: white;
    border-radius: 2px;
    padding: 10px 5px;
    z-index: 9999;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5)
    /*border: 1px solid #cedfea;*/
}
.zContextMenu .items .items {
    padding: 5px 0px;
}
.zContextMenu .items .item{
    border-bottom: 1px solid #cedfea;
    padding: 5px 15px 5px 5px;
    /*margin: 0px 5px;*/
}
.zContextMenu .items .item:hover {
    background-color: #1AA094;
}